<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navbar-top" class="w3-teal" style="background-color:#C4C4C4!important; color: black!important;">

    <button class="w3-button w3-teal w3-xlarge w3-hide-large" onclick="w3_open()"
            style="background-color:#C4C4C4!important; color: black!important;">
        &#9776;
    </button>
    <!--        Untuk top navbar -->
    <!--        <div class="w3-container d-flex py-2">-->
    <!--            <h6 class="ml-auto">Hi, admin!</h6>-->
    <!--        </div>-->
</div>

</html>