<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Head Items (page setting, css, js, vendor)-->
    <div th:include="fragments/fragment :: head-items" th:remove="tag"></div>

    <!-- Font: Lato & Open Sans -->
    <div th:replace="fragments/fragment-web :: font-lato-opensans" th:remove="tag"></div>

    <!--  CKEditor Styles  -->
    <div th:replace="fragments/fragment-web :: ckeditor-styles" th:remove="tag"></div>

    <!------  Title Page  ------>
    <title>Research Topics</title>
</head>
<body style="font-family: 'Open Sans', sans-serif;">

<!-- Navbar top -->
<nav th:replace="fragments/fragment-web :: navbar-top" th:remove="tag"></nav>
<img th:src="@{/img/header-kecil.png}" alt="header" class="mb-4" style="width: 100%">

<div class="container content-web">
    <!--  ISI KONTEN  -->
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h3 th:text="${staticPageModel.title}"></h3>
            <br>
            <div class="ck-content" th:utext="${staticPageModel.content}"></div>
        </div>
    </div>

</div>

<!-- Footer -->
<div th:replace="fragments/fragment-web :: footer" th:remove="tag"></div>

</body>
</html>