<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Head Items (page setting, css, js, vendor)-->
    <div th:include="fragments/fragment :: head-items" th:remove="tag"></div>

    <!------  Title Page  ------>
    <title>Change Password</title>
</head>

<body>
<!--Sidebar-->
<object th:replace="fragments/sidebar :: sidebar" th:remove="tag"></object>
<!--End of Sidebar-->

<div class="w3-main" style="margin-left:200px">
    <!-- Navbar/Topbar -->
    <nav th:replace="fragments/navbar :: navbar-top" th:remove="tag"></nav>
    <!-- End of Navbar/Topbar -->

    <div class="w3-container py-3">
        <!-- ISI KONTEN -->
        <div class="col-sm-4">
            <h3>Change Password Account</h3>
            <br>
            <form id="myForm" th:object="${userModel}">
                <div class="form-group">
                    <input type="hidden" name="id" th:field="${userModel.id}">
                    <div class="form-group">
                        <label>Old Password</label>
                        <input type="password" class="form-control" id="oldPassword" placeholder="Old Password">
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" class="form-control" id="password" placeholder="New Password"
                               name="password">
                    </div>
                    <div class="form-group">
                        <label>Confirm New Password</label>
                        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm New Password">
                    </div>

                    <br>
                    <p class="font-weight-bold mb-2" id="output-error" style="color: red"></p>
                    <button type="button" class="btn btn-primary" style="width: 80px" id="btnSubmit">Submit</button>
                    <a th:href="@{/admin/account}">
                        <button type="button" class="btn btn-secondary" style="width: 80px">Back</button>
                    </a>
                </div>
            </form>
        </div>

        <!-- The Modal: Loader -->
        <div th:replace="fragments/fragment :: loaderModal" th:remove="tag"></div>
        <!-- END: The Modal -->

        <!-- The Modal: Success Modal -->
        <div class="modal fade" id="successModal" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <!-- Modal body -->
                    <div class="modal-body text-center py-4">
                        <i class="fa fa-check-circle fa-3x mb-2" aria-hidden="true" style="color: #34ce57"></i>
                        <h6 class="">Password has been changed!</h6>
                        <br>
                        <a role="button" class="btn btn-primary" th:href="@{/admin/account}">Back</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: The Modal -->
    </div>

</div>

<!-- Script -->
<div th:include="fragments/fragment :: adminpage-script" th:remove="tag"></div>
<script type="text/javascript">

    function validateForm() {
        var isValid = true;
        $('.form-control').each(function() {
            if ( $(this).val() === '' ) {
                isValid = false;
            }
        });
        return isValid;
    }

    function validateOldPassword() {
        var inputOldPassword = $("#oldPassword").val();
        var idUserSelected = $("#id").val();
        var isMatches = false;
        $.ajax({
            type: "GET",
            url: "/api/account/validatePassword?id=" + idUserSelected + "&pw=" + inputOldPassword,
            async: false,
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {
                isMatches = data.isMatches;
            },
            error: function (e) {
                console.log("ERROR: ", e);
            }
        });
        console.log('isMatches: ', isMatches);
        return isMatches;
    }

    function checkMinLengthPassword() {
        var password = $("#password").val();
        var confirmPassword = $("#confirmPassword").val();
        if (password.length >= 8 && confirmPassword.length >= 8) {
            return true;
        }
        return false;
    }

    function checkPasswordMatch() {
        var password = $("#password").val();
        var confirmPassword = $("#confirmPassword").val();
        if (password !== confirmPassword) {
            return false;
        }
        return true;
    }

    $(document).ready(function () {

        $("#btnSubmit").click(function (event) {
            $("#loaderModal").modal("show");
            if (!(validateForm())) {
                $("#output-error").text("Harap lengkapi semua field.");
                $("#loaderModal").modal("hide");
                return;
            }

            if (!(validateOldPassword())) {
                $("#output-error").text("Password lama yang dimasukkan tidak sesuai.");
                $("#loaderModal").modal("hide");
                return;
            }

            if (!(checkMinLengthPassword())) {
                $("#output-error").text("Minimal 8 karakter password.");
                $("#loaderModal").modal("hide");
                return;
            }
            if (!(checkPasswordMatch())) {
                $("#output-error").text("Password dan konfirmasi password yang diisi tidak sesuai/match.");
                $("#loaderModal").modal("hide");
                return;
            }

            //stop submit the form, we will post it manually.
            event.preventDefault();

            // Get form
            var form = $('#myForm')[0];

            // Create an FormData object
            var data = new FormData(form);

            // disabled the submit button
            $("#btnSubmit").prop("disabled", true);

            $.ajax({
                type: "POST",
                url: "/api/account/changePassword",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    $("#output-error").text("");
                    $("#btnSubmit").prop("disabled", false);
                    $("#loaderModal").modal("hide");
                    $("#successModal").modal("show")
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                    $("#loaderModal").modal("hide");
                    $("#btnSubmit").prop("disabled", false);
                }
            });
        });
    });
</script>

</body>
</html>
