<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Head Items (page setting, css, js, vendor)-->
    <div th:include="fragments/fragment :: head-items" th:remove="tag"></div>

    <!------  Title Page  ------>
    <title>Account Management</title>
</head>

<body>
<!--Sidebar-->
<object th:replace="fragments/sidebar :: sidebar" th:remove="tag"></object>
<!--End of Sidebar-->

<div class="w3-main" style="margin-left:200px">
    <!-- Navbar/Topbar -->
    <nav th:replace="fragments/navbar :: navbar-top" th:remove="tag"></nav>
    <!-- End of Navbar/Topbar -->

    <div class="w3-container py-3">
        <!-- ISI KONTEN -->
        <h3>Account Management</h3>
        <p>This page is used to manage accounts that can log into the system</p>

        <a th:href="@{/admin/account/add}">
            <button class="btn btn-primary my-3">Add account</button>
        </a>


        <div class="table-responsive col-md-8 px-0">
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th>No</th>
                    <th>Username</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, iterStat : ${userList}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${user.username}"></td>
                    <td>
                        <a th:href="@{'/admin/account/editUsername/' + ${user.id}}">
                            <button class="btn btn-primary btn-sm mb-1">
                                Change Username
                            </button>
                        </a>
                        <a th:href="@{'/admin/account/editPassword/' + ${user.id}}">
                            <button class="btn btn-primary btn-sm mb-1">
                                Change Password
                            </button>
                        </a>
                        <button class="btn btn-danger btn-sm mb-1">
                            Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Script -->
<div th:include="fragments/fragment :: adminpage-script" th:remove="tag"></div>

</body>
</html>
