<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Head Items (page setting, css, js, vendor)-->
    <div th:include="fragments/fragment :: head-items" th:remove="tag"></div>

    <!------  Title Page  ------>
    <title>Change Username</title>
</head>

<body>
<!--Sidebar-->
<object th:replace="fragments/sidebar :: sidebar" th:remove="tag"></object>
<!--End of Sidebar-->

<div class="w3-main" style="margin-left:200px">
    <!-- Navbar/Topbar -->
    <nav th:replace="fragments/navbar :: navbar-top" th:remove="tag"></nav>
    <!-- End of Navbar/Topbar -->

    <div class="w3-container py-3">
        <!-- ISI KONTEN -->
        <div class="col-sm-4">
            <h3>Change Username Account</h3>
            <br>
            <form id="myForm" th:object="${userModel}">
                <div class="form-group">
                    <input type="hidden" name="id" th:field="${userModel.id}">
                    <label>Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username"
                           name="username" th:field="${userModel.username}">
                    <br>
                    <p class="font-weight-bold mb-2" id="output-error" style="color: red"></p>
                    <button type="button" class="btn btn-primary" style="width: 80px" id="btnSubmit">Submit</button>
                    <a th:href="@{/admin/account}">
                        <button type="button" class="btn btn-secondary" style="width: 80px">Back</button>
                    </a>
                </div>
            </form>
        </div>

        <!-- The Modal: Loader -->
        <div th:replace="fragments/fragment :: loaderModal" th:remove="tag"></div>
        <!-- END: The Modal -->

        <!-- The Modal: Success Modal -->
        <div class="modal fade" id="successModal" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <!-- Modal body -->
                    <div class="modal-body text-center py-4">
                        <i class="fa fa-check-circle fa-3x mb-2" aria-hidden="true" style="color: #34ce57"></i>
                        <h6 class="">Username has been changed!</h6>
                        <br>
                        <a role="button" class="btn btn-primary" th:href="@{/admin/account}">Back</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: The Modal -->
    </div>

</div>

<!-- Script -->
<div th:include="fragments/fragment :: adminpage-script" th:remove="tag"></div>
<script type="text/javascript">
    const currentUsername = $('#username').val();

    function validateForm() {
        var isValid = true;
        $('.form-control').each(function() {
            if ( $(this).val() === '' ) {
                isValid = false;
            }
        });
        return isValid;
    }

    function validateUsername() {
        var username = $("#username").val();
        var regex = /^[a-zA-Z0-9]+$/;
        var result = regex.test(username);
        return result
    }

    function checkUsernameIsAvailable() {
        if ($('#username').val() === currentUsername) {
            return false;
        }

        var isAvailable = false;
        $.ajax({
            type: 'GET',
            url: '/api/account/isAvailable/' + $('#username').val(),
            async: false,
            dataType: 'json',
            processData: false,
            cache: false,
            success: function (data) {
                isAvailable = data.isAvailable;
            },
            error: function (e) {
                console.log("ERROR: ", e);
            }
        });
        return isAvailable;
    }

    $(document).ready(function () {

        $("#btnSubmit").click(function (event) {
            $("#loaderModal").modal("show");

            if (!(validateForm())) {
                $("#output-error").text("Harap lengkapi semua field.");
                $("#loaderModal").modal("hide");
                return;
            }
            if (!(validateUsername())) {
                $("#output-error").text("Username hanya dapat diisi huruf dan angka.");
                $("#loaderModal").modal("hide");
                return;
            }
            if (checkUsernameIsAvailable()) {
                $("#output-error").text("Username yang diisi telah digunakan.");
                $("#loaderModal").modal("hide");
                return;
            }


            //stop submit the form, we will post it manually.
            event.preventDefault();

            // Get form
            var form = $('#myForm')[0];

            // Create an FormData object
            var data = new FormData(form);

            // disabled the submit button
            $("#btnSubmit").prop("disabled", true);

            $.ajax({
                type: "POST",
                // enctype: 'multipart/form-data',
                url: "/api/account/changeUsername",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    $("#output-error").text("");
                    $("#btnSubmit").prop("disabled", false);
                    $("#loaderModal").modal("hide");
                    $("#successModal").modal("show")
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                    $("#btnSubmit").prop("disabled", false);
                }
            });
        });
    });
</script>

</body>
</html>
