<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Head Items (page setting, css, js, vendor)-->
    <div th:include="fragments/fragment :: head-items" th:remove="tag"></div>

    <!-- Font: Lato & Open Sans -->
    <div th:replace="fragments/fragment-web :: font-lato-opensans" th:remove="tag"></div>

    <!--  CKEditor Styles  -->
    <div th:replace="fragments/fragment-web :: ckeditor-styles" th:remove="tag"></div>

    <!------  Title Page  ------>
    <title th:text="'Post: ' + ${post.title}"></title>
</head>
<body style="font-family: 'Open Sans', sans-serif;">

<!-- Navbar top -->
<nav th:replace="fragments/fragment-web :: navbar-top" th:remove="tag"></nav>
<img th:src="@{/img/header-kecil.png}" alt="header" class="mb-4" style="width: 100%">

<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h3 th:text="${post.title}"></h3>
            <p th:text="'On '+ ${#temporals.format(post.datePosted, 'MMM dd, yyy - HH:mm')}"></p>
            <br>
            <div class="ck-content" th:utext="${post.content}"></div>
            <br>

            <div class="card p-4 my-4" style="background-color: #e5e5e5; border-color: #e5e5e5; border-radius: 10px">
                <div class="container">
                    <h4>Give a Reply</h4>
                    <form action="">
                        <div class="form-group">
                            <label>Comment</label>
                            <textarea class="form-control" name="comment" id="comment"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control col-sm-5" placeholder="Name" id="name">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control col-sm-5" placeholder="Email" id="email">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <br>
                    </form>
                </div>
            </div>

            <!-- Reply -->
            <h3 class="mt-5 mb-3">Reply</h3>
            <div class="card p-3 mb-3" style="border-width: 2px; border-radius: 10px">
                <h6>Laksono Bramantio</h6>
                <p>laksono@email.com | July 13, 2019 - 09.12</p>
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="fragments/fragment-web :: footer" th:remove="tag"></div>

</body>
</html>