<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Head Items (page setting, css, js, vendor)-->
    <div th:include="fragments/fragment :: head-items" th:remove="tag"></div>

    <!-- Font: Lato & Open Sans -->
    <div th:replace="fragments/fragment-web :: font-lato-opensans" th:remove="tag"></div>

    <!--  CKEditor Styles  -->
    <div th:replace="fragments/fragment-web :: ckeditor-styles" th:remove="tag"></div>

    <!------  Title Page  ------>
    <title th:text="'Search for &quot;' + ${keyword} + '&quot;'"></title>
</head>
<body style="font-family: 'Open Sans', sans-serif;">

<!-- Navbar top -->
<nav th:replace="fragments/fragment-web :: navbar-top" th:remove="tag"></nav>
<img th:src="@{/img/header-kecil.png}" alt="header" class="mb-4" style="width: 100%">

<div class="container content-web">
    <!--  ISI KONTEN  -->
    <div class="row">

        <div class="col-sm-4 search-mobile mb-5">
            <h3>Search a Post</h3>
            <form th:action="@{/post/search}" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Keyword" id="" name="keyword" required>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>

        <div class="col-sm-7">
            <h4 th:text="'Search result for &quot;' + ${keyword} + '&quot;'"></h4>
            <br>
            <h5 th:if="${postModelSearched.isEmpty()}">Not found</h5>
            <div th:each="post : ${postModelSearched}" class="mb-5">
                <a th:href="@{/post(id=${post.id})}">
                    <h3 th:text="${post.title}" style="color: black"></h3>
                </a>
                <p th:text="'On '+ ${#temporals.format(post.datePosted, 'MMM dd, yyy - HH:mm')}"></p>
                <p class="m-0" th:text="${post.previewContent}"></p>
                <a th:href="@{/post(id=${post.id})}">Read more</a>
            </div>
        </div>

        <div class="col-sm-1 search-pc"></div>

        <div class="col-sm-4 search-pc">
            <h3>Search a Post</h3>
            <form th:action="@{/post/search}" method="get">
                <div class="form-group">
                    <input type="text" th:value="${keyword}" class="form-control" placeholder="Keyword" id="" name="keyword" required>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="fragments/fragment-web :: footer" th:remove="tag"></div>

</body>
</html>